

{% block title %}Log in!{% endblock %}

{% block head %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('../assets/styles/Login.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="login-form" method="post" action="{{ path('app_login') }}" class="form-signin mt-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" autocomplete="email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-2" placeholder="Password" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="submitForm()">Sign in</button>
            </form>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        var formData = $('#login-form').serialize();
        $.ajax({
            type: 'POST',
            url: '{{ path('app_login') }}',
            data: formData,
            success: function (data) {
                if (data.success) {
                    console.log(data.message);
                    window.location.href = '{{ path('app_user_crud_index') }}';
                    alert("vous êtes connecter vous allez être redirigé..")
                } else {
                    console.error(data.message);
                    alert('Login failed. Please check your credentials.');
                }
            },
            error: function (error) {
                console.error(error);
                alert('An error occurred during login.');
            }
        });
    }
</script>
{% endblock %}
