{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_index.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Liste des Utilisateurs</h1>

        {% if users|length > 0 %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('app_user_crud_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">Gérer L'utilisateur</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center mt-4">Aucun utilisateur trouvé.</p>
        {% endif %}

        <div class="text-center mt-4">
            <a href="{{ path('app_user_crud_new') }}" class="btn btn-success btn-lg">Créer un nouvel utilisateur</a>
        </div>
    </div>
{% endblock %}
